/* Shortcode:Twitter Feed
-------------------------------------------------------------------- */
.mk-tweet-shortcode li {
  padding-left: 25px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.mk-tweet-shortcode li > i {
  top: 15px;
  left: 2px;
  position: absolute;
  font-size: 16px;
}
.mk-twitter-shortcode {
  margin-bottom: 20px;
}
