/* Shortcode:List Styles
-------------------------------------------------------------------- */
.mk-list-styles.mk-align-left ul {
  display: inline-block;
  float: left;
}
.mk-list-styles.mk-align-right ul {
  display: inline-block;
  float: right;
}
.mk-list-styles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mk-list-styles ul li {
  position: relative;
  margin: 0 0 6px 0;
  padding: 0 0 0 21px;
  line-height: 24px !important;
}
.mk-list-styles ul li i{
  font-size: 16px;
}
.mk-list-styles ul li .mk-svg-icon{
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 16px;
  line-height: 16px !important;
}